:root {
  --primary-color : #282c34;
  --orange-color : hwb(39 0% 0%);
  --gray-color : #6e6e75;
  --line-style: 1px rgb(217, 223, 223) solid;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
